.container{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url("../images/wall.png");
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    height: 90px;
    width: 100%;
    background-color: #000000;
    color: #ffffff;
    border-bottom: 5px solid #ffd700;


}
.panel{
    margin-top:1rem;
    display: flex;
    align-items: center;
    justify-content: center;    
    
}
.square {
    height: 150px;
    width: 150px;
    border: 1px solid #000000;
    background-color: rgb(109, 230, 163);
}
.enemy{
    background-image: url("../images/ralph.png");
    background-size: cover;
}
.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}
.menu-time h2:nth-child(2),
.menu-score h2:nth-child(2){

margin-top: -1rem;
}
.game-over {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Tela preta semi-transparente */
    color: white;
    display: none; /* Inicialmente escondido */
    justify-content: center;
    align-items: center;
    font-size: 24px;
    text-align: center;
}

#game-over-message {
    font-size: 32px;
}